.container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.con{
  justify-content: center;
  text-align: center;
  background-color: #03001C;
  margin: 0 auto;
  padding: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  height: 30px;
}



.con div{
  padding: 5px;
}
.table{
  background-color: #AEE2FF;
}

th{
  color: black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 25px;
  padding: 15px;
  font-weight: bold ;
}


.fromulario{
  background-color: #AEE2FF;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.fromulario div{
  padding: 10px;
}

.form{
  justify-content: center;
  display: flex;
  padding: 10px;
}
