
<div class="con">
  <h3>Clientes</h3>

</div>


<div class="formulario">
  <form class="form" [formGroup]="myFormulario"  (ngSubmit)="guardar(myFormulario)">
  <div>
    <input type="number" placeholder="id" formControlName="idamo">
  </div>
  <div>
    <select name="tipoid" id="" formControlName="tipoid">
     <option value="CC"  >CC</option>
     <option value="CE">CE</option>
      <option value="Passport">Pasaporte</option>
    </select>
  </div>
  <div>
    <input type="text" placeholder="nombre" formControlName="nombre">
  </div>
  <div>
    <input type="text" placeholder="telefono" formControlName="telefono">
  </div>
  <div>
    <input type="text" placeholder="ciudad" formControlName="ciudad">
  </div>
  <div>
    <input type="text" placeholder="Direccion" formControlName="direccion">
  </div>
  <div>
    <button type="submit"  class="boton" [disabled]="myFormulario.invalid"  mat-icon  mat-list-item>
      Nuevo
    </button>
  </div>
  <div>
    <button  class="actualizar" (click)="actualizar(myFormulario)" [disabled]="myFormulario.invalid"  mat-icon  mat-list-item>
      Actualizar
    </button>
  </div>

  </form>

  </div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tipo id</th>
        <th>Nombre</th>
        <th>Telefo</th>
        <th>Ciudad</th>
        <th>Direccion</th>
        <th>Aciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let index of amoVector">
        <td>{{index.idamo}}</td>
        <td>{{index.tipoid}}</td>
        <td>{{index.nombre}}</td>
        <td>{{index.telefono}}</td>
        <td>{{index.ciudad}}</td>
        <td>{{index.direccion}}</td>
        <td>
          <button class="editar" (click)="editar(index)" >Editar</button>

        </td>
      </tr>
    </tbody>

  </table>
</div>
