
<div class="con">
  <h3> Registro de Pacientes</h3>
</div>

<div class="container">
  <form class="form" [formGroup]="myformulario">
  <div>
    <input type="number" placeholder="id" formControlName="idpaciente">
  </div>
  <div>
    <input type="text" placeholder="nombre" formControlName="nombre">
  </div>
  <div>
    <input type="date" placeholder="Fecha Nacimient" formControlName="fechaNapaciente">

  </div>
  <div>
    <input type="date" placeholder="Fecha de registro" formControlName="fechaRegisto">
  </div>
  <div>

    <input type="number" placeholder="Especie" formControlName="fk_especie">

  </div>
  <div>
    <input type="number" placeholder="Dueño" formControlName="fk_amo">
  </div>
  </form>

  </div>

<button class="lanzar-modal" mat-icon  mat-list-item>
  Nuevo
</button>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha nacimento</th>
        <th>Fecha registo</th>
        <th>Especie</th>
        <th>Dueño</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let index of pacienteVector">
        <td>{{index.idpaciente}}</td>
        <td>{{index.nombre}}</td>
        <td>{{index.fechaNapaciente}}</td>
        <td>{{index.fechaRegistro}}</td>
        <td>{{index.fk_especie}}</td>
        <td>{{index.fk_amo}}</td>
        <td>
          <button class="editar"  >Editar</button>
          <button class="eliminar">Eliminar</button>

        </td>
      </tr>
    </tbody>

  </table>
</div>
