<!-- MODAL PARA AYUDA -->

<ng-template>

</ng-template>

<!--MODAL PAR CONTACTO-->
<ng-template>

</ng-template>

<header>
  <nav class="navbar">
    <div class="navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-ul">
        <li class="nav-li">
          <a class="a" href="#">Pruba desarrollo</a>
        </li>
        <li class="nav-li">
          <a class="a" href="login">Login </a>
        </li>
        <li class="nav-li">
          <a class="a" href="#">contacto</a>
        </li>

      </ul>
    </div>
  </nav>

</header>

<app-login></app-login>
