body{
  background-color: #03001C;
}


.navbar{
  text-align: center;
  background-color: #5B8FB9;

  height: auto;
  width: auto;
  color: white;
}


.navbar-nav{
  display: inline-block;
}


.navbar-ul{
list-style: none;
display: inline-block;
padding: 18px;
color: white;
}

.nav-li{
  float: left;
  margin-top: 20px;
}

.a {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}
